* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background-image: url("https://wallpapers.com/images/hd/sky-clouds-mountains-bkoggyia7witam6y.webp");
  width: 80%;
  height: 80%;
}
